<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gastrotec.gastrotec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpProcess" />
        <activity android:name=".MainMenu" />
        <activity android:name=".RestProfileActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".AddRestaurantActivity" />
        <activity android:name=".ModifyRestaurantActivity" />
        <activity android:name=".ModifyPlatillo"></activity>
    </application>

</manifest>